.tocUl {
  border-left: none;
}

.tocUlChild {
  margin-top: 19px;
  margin-bottom: 19px;
}

.tocItem {
  font-weight: var(--font-weight-standard);
  font-size: var(--font-size-medium);
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.5px;

  /* Greyscale/Black */

  color: var(--eos-color-darkest);
}

.tocItemChild {
  font-weight: var(--font-weight-standard);
  font-size: var(--font-size-medium);
  line-height: 24px;
  /* identical to box height, or 150% */
  
  letter-spacing: 0.5px;
  
  /* Greyscale/300 */
  
  color: var(--eos-color-light);
}