:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 0;
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

.search-input {
  outline: none;
  border: none;
  background: #F4F5F6;
  border-radius: 6px;
  width: 293px;
  margin: 0 auto;
  padding: 16.5px 24px 16.5px 60px;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #666666;
  background-image: url('/icons/search-icon.svg');
  background-repeat: no-repeat;
  background-position: 24px 18px;
}

.search-input::placeholder {
  color: #666666;
}