.customTableOfContents {
  overflow-y: auto;
  width: 95%;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  padding: 20px;
  margin: 24px auto;
}

.customTableOfContents ul {
  list-style: none;
  padding: 0 !important;
}

.customTableOfContents ul li {
  padding: 0 !important;
  padding-left: 0.5rem !important;
  margin: 0.5rem 0.5rem !important;
}

.select {
  margin-bottom: 20px;
  font-weight: var(--font-weight-standard);
  font-size: var(--font-size-large);
  line-height: 27px;

  color: var(--eos-color-light) !important;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.linkContainerWithTOC {
  padding-bottom: 28px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 28px;
}

.link {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-standard);
  font-size: var(--font-size-medium);
  line-height: 24px;
  color: var(--eos-color-darker);
}

.link::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-black);
  border-radius: 4px;
  margin-right: 12px;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
