.secondary_menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 36px;
}

.secondary_menu a {
  font-weight: 500;
  font-size: var(--font-size-medium);
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 0;
}

.secondary_menu ul {
  gap: 12px;
  padding: 0 24px;
}

.secondary_menu li {
  padding: 0 0 0 12px !important;
}

/* .secondary_menu li:not(:first-child) {
  margin: 0 !important;
} */